:root{
--Red: hsl(1, 90%, 64%);
--Blue: hsl(219, 85%, 26%);
--White: hsl(0, 0%, 100%);
--Very-light-grayish-blue: hsl(210, 60%, 98%);
--Light-grayish-blue-1: hsl(211, 68%, 94%);
--Light-grayish-blue-2: hsl(205, 33%, 90%);
--Grayish-blue:hsl(219, 14%, 63%);
--Dark-grayish-blue: hsl(219, 12%, 42%);
--Very-dark-blue: hsl(224, 21%, 14%);
}
*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--Very-light-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 50%;
    background-color: var(--White);
    padding: 25px;
    border-radius: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
h1{
    color: var(--Very-dark-blue);
    font-weight: 800;
    font-size: 22px;
}
.navNumber{
    display: inline-block;
    width: 30px;
    text-align: center;
    height: 25px;
    border-radius: 5px;
    color: var(--White);
    background-color: var(--Blue);
    font-size: 16px;
    margin-left: 5px;
    padding-top: 2px;
}
.unread:hover , .name:hover , .event:hover{
    cursor: pointer;
    color: var(--Blue);
}
.natificationsContainer{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.natification{
    display: flex;
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    column-gap: 20px;
    align-items: flex-start;
    
    
}

img{
    width: 50px;
    height: 50px;
}
.content{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    
}
.whathappen{
    color: var(--Very-dark-blue);
    font-weight: 500;
}
.name{
    font-weight: 800;
    color: var(--Very-dark-blue);
    margin-right: 5px;
}
.event{
    color: var(--Dark-grayish-blue);
    font-weight: 800;
    margin-left: 5px;
}
.time{
    color: var(--Grayish-blue);
}
.message{
    border: 2px solid var(--Light-grayish-blue-2);
    border-radius: 5px;
    padding: 15px;
    font-size: 17px;
    width: 100%;
}
.message:hover{
    cursor: pointer;
    background-color: var(--Very-light-grayish-blue);   
}
.pictureContaner{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.unreadNatification{
    background-color: var(--Very-light-grayish-blue);
}

.point{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--Red);
    margin-bottom: 1px;
}
